:root {
    --large-gap: 1.5em;
    --small-gap: 1em;
    --fast-transition: all 0.25s ease-out;
    --slow-transition: all 0.5s ease-out;

    --h1-font: 900 44px/1.5 "IBM Plex Sans Arabic", sans-serif;
    --h2-font: 400 32px/1.5 "Rubik", sans-serif;
    --h3-font: 500 48px/1.5 "IBM Plex Sans Arabic", sans-serif;

    --main-font: 400 16px/1.5 "Rubik", sans-serif;
    --main-text-color: black;
    --main-background: rgb(230, 241, 255);

    --header-padding: 1.5em 1em 0.5em;
    --header-button-hover-background: rgb(223, 223, 223);

    /* Card general div variables */
    --card-min-height: 25em;
    --card-width: 90%;
    --card-max-width: 400px;
    --card-border-radius: 0.8em 0.8em 0.4em 0.4em;
    --card-background: rgb(233, 233, 233);

    /* Card banner div variables */
    --card-banner-height: 40%;
    --card-banner-fontcolor: rgb(238, 237, 237);
    --card-banner-padding: 0.5em 1em 10em;
    --card-banner-price-size: 64px;
    /* Card button variables */
    --button-padding: 0.25em 0.5em;
    --button-border: 0px solid rgb(59, 56, 56);
    --button-border-radius: 0.5em;
    --button-font: 300 20px/1.5 "Rubik", sans-serif;
    --button-icon-width: 20px;
    /* Card banner footer variables */
    --card-banner-footer-font-size: 1em;
    --card-banner-footer-padding: 0 1.5em 0.2em;

    /* Card features div variables */
    --card-features-padding: 0em 1em 1em;
    --card-features-li-padding: 0.5em 0.5em;

    /* Card hover variables */
    --card-hover-height: calc(var(--card-min-height) + 5em);
    --card-banner-hover-height: calc(var(--card-banner-height) + 6%);
    --card-banner-hover-background: rgba(0, 0, 0, 0.6);

    /* Individual card variables */
    /* Tier 1 card*/
    --tier1-banner-background: #446CB3;
    --tier1-banner-shadow: inset 0px 0px 100px 1px rgba(0, 0, 0, 0.8);
    --tier1-banner-footer-background: #004bce;
    --tier1-banner-hover-background: #003ca5;
    --tier1-banner-hover-shadow: inset 0px 0px 100px 1px rgba(0, 0, 0, 1);
}

body {
    background: var(--main-background);
    color: var(--main-text-color);
    font: var(--main-font);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--large-gap) 0;
    min-height: 100vh;
}

/* Header styles */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--header-padding);
    font: var(--button-font);
}

header a {
    background: white;
    padding: var(--button-padding);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0 var(--small-gap);
    flex: 1 1 4em;
    max-width: 100%;
    margin: var(--button-margin);
    transition: var(--fast-transition);
}

header a img {
    position: absolute;
    left: 10px;
    width: var(--button-icon-width);
    height: var(--button-icon-width);
}

header a:hover {
    background: var(--header-button-hover-background);
}

/* Main content styles */
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--small-gap) 0;
    width: 100%;
}

main h1 {
    font: var(--h1-font);
    margin: 0 0 0.5em;
}

/* Card Styles */
.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: var(--card-width);
    max-width: var(--card-max-width);
    height: var(--card-min-height);
    border-radius: var(--card-border-radius);
    transition: var(--fast-transition);
    background: var(--card-background);
    overflow: hidden;
}

/* The card banner */
.card-banner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: var(--card-banner-height);
    padding: var(--card-banner-padding);
    color: var(--card-banner-fontcolor);
    transition: var(--fast-transition);
}

.card-banner h2 {
    font: var(--h2-font);
}

.card-banner h3 {
    font: var(--h3-font);
    transition: var(--fast-transition);
}

/* BANNER BOTTOM */
.card-banner .card-banner-bottom {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.3em;
    transition: var(--fast-transition);
} 

.card-banner .card-button {
    font: var(--button-font);
    font-weight: 500;
    transition: var(--fast-transition);
}

.card-banner .card-banner-footer {
    opacity: 0;
    scale: 0;
    border-radius: var(--button-border-radius);
    padding: var(--card-banner-footer-padding);
    font-size: var(--card-banner-footer-font-size);
    font-weight: 100;
    transition: var(--fast-transition);
}

/* The card features section*/
.card-features {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-features-padding);
}

.card-features li {
   /*  display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center; */
    padding: var(--card-features-li-padding);
}

.card-features li:last-of-type {
    border: none;
}

.card-features img {
    width: var(--button-icon-width);
    height: var(--button-icon-width);
}

/* Hovering the card */
.card:hover {
    height: var(--card-hover-height);

    .card-banner {
        height: var(--card-banner-hover-height);
    }

    .card-price {
        font-size: var(--card-banner-price-size);
    }

    /*Make banner footer appear*/
    .card-banner-footer {
        opacity: 1;
        scale: 1;
    }
}

/* Individual cards*/
#tier1-card .card-banner {
    background: var(--tier1-banner-background);
    box-shadow: var(--tier1-banner-shadow);
}

#tier1-card .card-banner-footer {
    background: var(--tier1-banner-footer-background);
}

#tier1-card:hover {
    .card-banner {
        background: var(--tier1-banner-hover-background);
        box-shadow: var(--tier1-banner-hover-shadow);
    }
}